.products-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 200px;
}
.product{
    
    background-image: url(../../Images/bg59.jpg);
    background-size:    cover ;
    background-repeat: no-repeat;
    margin-bottom: 200px;
   
    
 
}
.button-product{
    width: 120px;
    background-color: #cf97be;
    border: none;
    height: 40px;
    border-radius: 5px;
}
.button-product:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.5s;
}
.product-title{

    position: absolute;
    right:250px;
    top: 60%;
    font-weight: bold;
    font-size: 50px;
}
