.counting-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 100px;

    padding: 20px;
    
}
.counting-products span{
    font-weight: 600;
    font-size: 30px;
}
.counting-text{
    font-size: 20px;
    font-weight: 600;
    
    margin-right: 100px;
    margin-left: 100px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.title-sells{
    font-weight: 700;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
   
    border-bottom: 3px solid #000;
    height: 50px;
    width: 300px;
}