.login{
    margin-top: 70px;
    margin-bottom: 100px;
}
.login-forms{
    margin: 8px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(85, 79, 79);
    
}
 input[type="submit"]{
   background-color: #61dafb;
    border: none;
   width: 150px;
   height: 40px;
   border-radius: 5px;
 
}